
# Object files
*.o

# Executables and output files
*.exe
*.out*
vlasiator

# Backups and temporary files
*~

vlasiator
vlasiator+pat
*.gch
\#*\#

# Other stuff created by the program
version.cpp
*/doc/*

